@charset "UTF-8";
:root {
  --text-one-color: #212121;
  --text-two-color: #757575;
  --text-three-color: #2196f3;
  --text-four-color: #2f303a;
  --text-five-color: #ffffff;
  --text-six-color: #000000;
  --text-seven-color: #ececec;
  --text-eight-color: #188ce8;
  --text-nine-color: #afb1b8;
  --team-background-color: #f5f4fa;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  padding: 0;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', 'sans-serif';
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-one-color);
  margin-bottom: 50px;
}

.after-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.btn {
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--text-five-color);
  background-color: var(--text-three-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  padding: 10px 32px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  background-color: var(--text-eight-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms, visibility 500ms;
}

.backdrop.is-hidden .modal {
  transform: scale(0.5);
}

.modal {
  padding: 40px;
  width: 528px;
  min-height: 581px;
  background-color: var(--text-five-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms;
}

.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--text-five-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal-icon {
  fill: var(--text-six-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .modal-icon,
.modal-close:focus .modal-icon {
  fill: var(--text-three-color);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-one-color);
  margin-bottom: 12px;
}

.form-field {
  margin-bottom: 10px;
}

.form-field-comment {
  margin-bottom: 20px;
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 500ms;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 40px;
  outline: none;
  transition: border-color 500ms;
}

.form-input:focus {
  border-color: var(--text-three-color);
}

.form-input:focus + .input-icon {
  fill: var(--text-three-color);
}

.input-text {
  display: block;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--text-two-color);
  margin-bottom: 4px;
  outline: none;
}

.form-text {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  transition: border-color 500ms;
}

.form-text::placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-text:focus {
  border-color: var(--text-three-color);
}

.check-text {
  cursor: pointer;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: var(--text-two-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-text::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid var(--text-six-color);
  border-radius: 2px;
  margin-right: 7px;
}

.agree-check:checked + .check-text::before {
  border: none;
  background-image: url(../img/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.agree-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--text-three-color);
}

.modal-btn {
  display: block;
  min-width: 200px;
  margin-top: 30px;
}

.header {
  border-bottom: 1px solid var(--text-seven-color);
  background: var(--text-five-color);
}

.logo {
  font-family: 'Raleway', 'sans-serif';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-three-color);
  margin-right: 93px;
}

.logo-dark {
  color: var(--text-six-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-one-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover, .header-link:focus {
  color: var(--text-three-color);
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-list {
  display: flex;
}

.header-container {
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
  display: flex;
}

.current {
  color: var(--text-three-color);
  position: relative;
}

.current::after {
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  background-color: var(--text-three-color);
  left: 0;
  bottom: -34px;
}

.header-contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-two-color);
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-link:hover, .header-contact-link:focus {
  color: var(--text-three-color);
}

.header-contact {
  margin-left: auto;
  display: flex;
}

.header-contact-item:not(:last-child) {
  margin-right: 50px;
}

.header-social-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-social-icon:focus, .header-social-icon:hover {
  color: var(--text-three-color);
}

.hero-section {
  text-align: center;
  background: var(--text-four-color);
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Блок-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  width: 696px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-five-color);
  margin-bottom: 30px;
}

.hero-btn {
  display: block;
  min-width: 200px;
  margin-top: 30px;
}

.advantages-list {
  display: flex;
}

.advantages-item:not(:last-child) {
  margin-right: 30px;
}

.advantages-after-title {
  color: var(--text-one-color);
  margin-bottom: 10px;
}

.advantages-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-two-color);
}

.advantages-item {
  width: calc((100% - 90px) / 4);
}

.advantages-list {
  display: flex;
  justify-content: center;
}

.advantages-group {
  height: 120px;
  width: 270px;
  background-color: var(--team-background-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.work-section {
  padding-top: 0;
}

.work-list {
  display: flex;
  justify-content: center;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

.work-item-wrap {
  overflow: hidden;
  position: relative;
}

.work-img-text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  color: var(--text-five-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  height: 70px;
  width: 100%;
}

.team-section {
  background: var(--team-background-color);
}

.team-list {
  display: flex;
  justify-content: center;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-item {
  background-color: var(--text-five-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-after-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-one-color);
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-two-color);
  margin-bottom: 16px;
}

.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-social-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.team-social-item + .team-social-item {
  margin-left: 10px;
}

.team-social-link {
  width: 44px;
  height: 44px;
  background-color: var(--text-five-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--text-nine-color);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover, .team-social-link:focus {
  background-color: var(--text-three-color);
  color: var(--text-five-color);
}

.team-social-icon {
  fill: currentColor;
}

.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  height: 92px;
  width: 170px;
  border: 1px solid var(--text-nine-color);
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-nine-color);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  border-color: var(--text-three-color);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--text-three-color);
}

.clients-icon {
  fill: var(--text-nine-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background: var(--text-four-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-left {
  flex-grow: 1;
  margin-right: 70px;
}

.footer-logo {
  font-family: 'Raleway', 'sans-serif';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-three-color);
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 0;
}

.logo-white {
  color: var(--text-five-color);
}

.color-text {
  color: var(--text-five-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-five-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover, .footer-link:focus {
  color: var(--text-three-color);
}

.footer-contact-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact-link:hover, .footer-contact-link:focus {
  color: #d7e4f0;
}

.footer-list {
  font-style: normal;
}

.footer-center {
  margin-right: 93px;
}

.footer-after-title {
  color: var(--text-five-color);
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
}

.footer-social-item + .footer-social-item {
  margin-left: 10px;
}

.footer-social-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--text-five-color);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover, .footer-social-link:focus {
  background-color: var(--text-three-color);
  color: var(--text-five-color);
}

.footer-social-icon {
  fill: currentColor;
}

.footer-right-wrap {
  display: flex;
}

.footer-mail-input {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  min-width: 358px;
  background: var(--text-four-color);
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 16px;
  margin-right: 12px;
  outline: none;
}

.footer-btn {
  display: flex;
}

.footer-send-icon {
  right: 20px;
  fill: var(--text-five-color);
  margin-left: 10px;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-btn {
  cursor: pointer;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-one-color);
  background: #f5f4fa;
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;
  min-width: 73px;
  min-height: 38px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover, .filter-btn:focus {
  background-color: var(--text-three-color);
  color: var(--text-five-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.galery-after-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--text-one-color);
}

.galery-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-two-color);
}

.galery {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.galery-item {
  background: var(--text-five-color);
  width: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
  background-color: var(--text-five-color);
}

.galery-content {
  padding: 20px 24px 20px 24px;
  border: 1px solid var(--text-seven-color);
  border-top: none;
}

.galery-link {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.galery-link:hover, .galery-link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.galery-link:hover .galery-img-text,
.galery-link:focus .galery-img-text {
  transform: translateY(0);
}

.galery-img-overley {
  position: relative;
  overflow: hidden;
}

.galery-img-text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background: rgba(33, 150, 243, 0.9);
  color: var(--text-five-color);
  padding: 63px 24px;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */