:root {
  --text-first-color: #212121;
  --text-second-color: #757575;
  --text-third-color: #2196f3;
  --text-fourth-color: #2f303a;
  --text-fifth-color: #ffffff;
  --team-background-color: #f5f4fa;
}

body {
  font-family: 'Roboto', 'sans-serif';
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
  padding: 0;
  outline: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid tomato; */
}

/* -----------Header------------------ */
.header {
  border-bottom: 1px solid #ececec;
  background: var(--text-fifth-color);
}
.logo {
  font-family: 'Raleway', 'sans-serif';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-third-color);
  margin-right: 93px;
}
.logo-dark {
  color: #000000;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-first-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-list {
  display: flex;
}
.header-container {
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
  display: flex;
}
.current {
  color: var(--text-third-color);
  position: relative;
}
.current::after {
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  background-color: var(--text-third-color);
  left: 0;
  bottom: -34px;
}
.header-contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-second-color);
  display: flex;
  align-items: center;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact {
  margin-left: auto;
  display: flex;
}
.header-contact-item:not(:last-child) {
  margin-right: 50px;
}
.header-link:hover,
.header-link:focus,
.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--text-third-color);
}

.header-social-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-social-icon:focus,
.header-social-icon:hover {
  color: var(--text-third-color);
}
/* ===========Герой============== */

.hero {
  text-align: center;
  background: var(--text-fourth-color);
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/Блок-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  width: 696px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-fifth-color);
  margin-bottom: 30px;
}

.hero-btn {
  display: block;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--text-third-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border: none;
  padding: 10px 32px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/*----------НАШИ ПРЕИМУЩЕСТВА--------  */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.feature-list {
  display: flex;
}
.feature-item:not(:last-child) {
  margin-right: 30px;
}
.feature-after-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-first-color);
  margin-bottom: 10px;
}
.feature-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-second-color);
}
.feature-item {
  width: calc((100% - 90px) / 4);
}
.feature-list {
  display: flex;
  justify-content: center;
}

.group {
  height: 120px;
  width: 270px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

/* ===========ЧЕМ МЫ ЗАНИМАЕМСЯ============ */

.work-section {
  padding-top: 0;
}
.box-list {
  display: flex;
  justify-content: center;
}
.box-title {
  margin-bottom: 50px;
}

.box-item:not(:last-child) {
  margin-right: 30px;
}
.box-item-wrap {
  overflow: hidden;
  position: relative;
}
.box-img-text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  height: 70px;
  width: 100%;
}

.box-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-first-color);
  margin-bottom: 50px;
}
/* ----------НАША КОМАНДА--------- */
.team {
  background: var(--team-background-color);
}
.team-list {
  display: flex;
  justify-content: center;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-first-color);
  margin-bottom: 50px;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-item {
  background-color: var(--text-fifth-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-after-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-first-color);
  margin-bottom: 10px;
}
.team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-second-color);
  margin-bottom: 16px;
}
.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-social-list {
  list-style: none;
  display: flex;
  justify-content: center;
}
.team-social-item + .team-social-item {
  margin-left: 10px;
}

.team-social-link {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #afb1b8;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-icon {
  fill: currentColor;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--text-third-color);
  color: var(--text-fifth-color);
}
/* ==============ПОСТОЯННЫЕ КЛИЕНТЫ============ */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-list {
  display: flex;
  justify-content: center;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-link {
  height: 92px;
  width: 170px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--text-third-color);
}
.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--text-third-color);
}
.clients-icon {
  fill: #afb1b8;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ----------ПОДВАЛ ГЛАВНОЙ СТРАНИЦЫ---------- */
.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
/* ============ footer-left ============== */
.footer-left {
  margin-right: 70px;
}
.footer-logo {
  font-family: 'Raleway', 'sans-serif';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-third-color);
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 0;
}

.logo-white {
  color: #ffffff;
}
.color-text {
  color: var(--text-fifth-color);
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-link {
  font-weight: 500;
  font-size: 14px;

  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-fifth-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list {
  font-style: normal;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--text-third-color);
}
.footer-contact-link:hover,
.footer-contact-link:focus {
  color: #d7e4f0;
}

/* ==========footer-right=========== */

.footer-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-social-list {
  display: flex;
}
.footer-social-item + .footer-social-item {
  margin-left: 10px;
}
.footer-social-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #ffffff;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icon {
  fill: currentColor;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--text-third-color);
  color: var(--text-fifth-color);
}

.footer-right-wrap {
  display: flex;
}
/* =======ПОРТФОЛИО=========== */

/* =========ПРОЕКТЫ========== */

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-btn {
  cursor: pointer;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-first-color);
  background: #f5f4fa;
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;
  min-width: 73px;
  min-height: 38px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--text-third-color);
  color: var(--text-fifth-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ==============Галерея проектов================ */

.galery-after-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--text-first-color);
}

.galery-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--text-second-color);
}

.galery {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.galery-item {
  background: #ffffff;
  width: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
  background-color: #ffffff;
}

.galery-content {
  padding: 20px 24px 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.galery-link {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.galery-img-overley {
  position: relative;
  overflow: hidden;
}
.galery-img-text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  padding: 63px 24px;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /* overflow: auto; */
}

.galery-link:hover .galery-img-text,
.galery-link:focus .galery-img-text {
  transform: translateY(0);
}

.galery-link:hover,
.galery-link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* ==============Модальное окно=============== */

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms, visibility 500ms;
}
.backdrop.is-hidden .modal {
  transform: scale(0.5);
}

.modal {
  padding: 40px;
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms;
}

.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
}
.modal-icon {
  fill: #000000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover .modal-icon,
.modal-close:focus .modal-icon {
  fill: var(--text-third-color);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  margin-bottom: 12px;
}
.form-field {
  margin-bottom: 10px;
}
.input-wrap {
  position: relative;
}
.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 500ms;
}
.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 40px;
  outline: none;
  transition: border-color 500ms;
}
.form-input:focus {
  border-color: #2196f3;
}
.form-input:focus + .input-icon {
  fill: #2196f3;
}
/* .form-input::placeholder {
  position: absolute;
  color: #2196f3;
  
} */
.input-text {
  display: block;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  outline: none;
}

.form-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  transition: border-color 500ms;
}
.form-text:focus {
  border-color: #2196f3;
}

.check-text {
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-text::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 7px;
}
.agree-check:checked + .check-text::before {
  border: none;
  background-image: url(../img/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.agree-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}
.modal-btn-submit {
  display: block;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--text-third-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border: none;
  padding: 10px 32px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-submit:hover,
.modal-btn-submit:focus {
  background-color: #188ce8;
}
