.modal {
  padding: 40px;
  width: 528px;
  min-height: 581px;
  background-color: var(--text-five-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms;
}

.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--text-five-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
}
.modal-icon {
  fill: var(--text-six-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover .modal-icon,
.modal-close:focus .modal-icon {
  fill: var(--text-three-color);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--text-one-color);
  margin-bottom: 12px;
}
.form-field {
  margin-bottom: 10px;
}
.form-field-comment {
  margin-bottom: 20px;
}
.input-wrap {
  position: relative;
}
.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 500ms;
}
.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 40px;
  outline: none;
  transition: border-color 500ms;
}
.form-input:focus {
  border-color: var(--text-three-color);
}
.form-input:focus + .input-icon {
  fill: var(--text-three-color);
}

.input-text {
  display: block;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--text-two-color);
  margin-bottom: 4px;
  outline: none;
}

.form-text {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  transition: border-color 500ms;
}

.form-text::placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-text:focus {
  border-color: var(--text-three-color);
}

.check-text {
  cursor: pointer;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: var(--text-two-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-text::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid var(--text-six-color);
  border-radius: 2px;
  margin-right: 7px;
}
.agree-check:checked + .check-text::before {
  border: none;
  background-image: url(../img/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.agree-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--text-three-color);
}
.modal-btn {
  display: block;
  min-width: 200px;
  margin-top: 30px;
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--text-eight-color);
}
