.contacts__link {
  display: block;

  transition: color 250ms var(--cubic);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts__link {
  color: var(--primary-text-color);
  @include font(28px, 24px, 500, 0.02em);
}

.contacts__link--big {
  color: var(--accent-color);
  @include font(40px, 34px, null, null);
}

@media screen and (max-width: 386px) {
  .contacts__link--big {
    @include font(34px, 30px, null, null);
  }
}

@media screen and (max-width: 767px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 1199px) {
  .contacts__icon-d {
    display: none;
  }

  .contacts__icon--wide {
    width: 14px;
    height: 10px;
  }

  .contacts__icon--high {
    width: 10px;
    height: 14px;
  }
}

@include tablet() {
  .contacts__link {
    padding-top: 5px;
    padding-bottom: 5px;
    @include centrFlex(flex, center, flex-start);

    @include font(14px, 12px, null, null);
  }
  .contacts__icon {
    margin-right: 8px;
    fill: currentColor;
  }
}

@include desktop() {
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }

  .contacts__link {
    padding-top: 32px;
    padding-bottom: 31px;
    @include font(16px, 14px, null, null);
  }

  .contacts__icon {
    margin-right: 10px;
  }

  .contacts__icon-t {
    display: none;
  }
  .contacts__icon--wide {
    width: 16px;
    height: 12px;
  }

  .contacts__icon--high {
    width: 10px;
    height: 16px;
  }
}
