.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9;

  background-color: #ffffff;

  transform: translateY(-100%);
  transition: transform 250ms var(--cubic), opacity 250ms var(--cubic),
    visibility 250ms var(--cubic);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  overflow-y: scroll;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: unset;
  transform: translateY(0);
}

.mobile-menu__container {
  position: relative;

  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
}

.mobile-menu__menu-toggle {
  position: absolute;
  right: 15px;
  top: 10px;
}

.mobile-menu__menu {
  flex-grow: 1;
}

.mobile-menu__contacts {
  margin-bottom: 64px;
}

.mobile-menu__social-menu {
  @include centrFlex(flex, center, null);
  flex-wrap: wrap;
  margin-top: -10px;
}

.social-menu__item {
  margin-top: 10px;
}

.social-menu__item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.social-menu__link {
  @include font(22px, 18px, 500, 0.02em);

  color: var(--accent-color);
}

@media screen and (max-width: 440px) {
  .social-menu__item:nth-child(2n) {
    border: none;
  }
  .mobile-menu__social-menu {
    max-width: 280px;
  }
}

@media screen and (min-width: 386px) {
  .mobile-menu__container {
    padding-left: 40px;
    padding-right: 40px;
  }

}

@include tablet() {
  .mobile-menu {
    display: none;
  }
}
