.advantages-list {
  display: flex;
}

.advantages-list__after-title {
  color: var(--text-one-color);
  margin-bottom: 10px;
}
.advantages-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-two-color);
}
.advantages-list__item {
  width: calc((100% - 90px) / 4);
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.advantages-list {
  display: flex;
  justify-content: center;
}

.advantages-group {
  height: 120px;
  width: 270px;
  background-color: var(--team-background-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
