.clients-list {
  margin-right: -30px;
  margin-bottom: -30px;
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 800px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}
.clients-list__item {
  width: calc(100% / 2 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;

  @media screen and (min-width: 800px) {
    width: calc(100% / 3 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    width: calc(100% / 6 - 30px);
    margin-right: 30px;
  }
}
.clients-list__link {
  height: 92px;
  width: 100%;
  @media screen and (min-width: 800px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
  border: 1px solid var(--text-nine-color);
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-nine-color);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--text-three-color);
    fill: var(--text-three-color);
  }
}

.clients-list__icon {
  fill: var(--text-nine-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--text-three-color);
  }
}
