.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  justify-content: center;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-link {
  height: 92px;
  width: 170px;
  border: 1px solid var(--text-nine-color);
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-nine-color);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--text-three-color);
    fill: var(--text-three-color);
  }
}

.clients-icon {
  fill: var(--text-nine-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--text-three-color);
  }
}
