.footer-subscription__wrap {
  @include tab {
    // flex-wrap: wrap;
  }
  @include desk {
    display: flex;
  }
}
.footer-subscription__mail-input {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  @include tab {
    min-width: 450px;
  }
  @include desk {
    margin-bottom: 0px;
    display: flex;
    margin-right: 12px;
    min-width: 358px;
  }
  align-items: center;
  justify-content: center;
  height: 50px;
  min-width: 100%;
  background: var(--text-four-color);
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 16px;
  // margin-right: 12px;
  outline: none;
}

.footer-subscription__btn {
  display: flex;
}

.footer-subscription__send-icon {
  right: 20px;
  fill: var(--text-five-color);
  margin-left: 10px;
}
