.footer-contacts {
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  @include tab {
    margin-bottom: 0;
    margin-left: 76px;
  }
  @include desk {
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
    margin-right: 70px;
  }
}
.footer__logo {
  font-family: 'Raleway', 'sans-serif';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  @include desk {
    font-size: 26px;
    line-height: 1.19;
  }
  letter-spacing: 0.03em;
  color: var(--text-three-color);
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 0;
}

.logo__white {
  color: var(--text-five-color);
}
.color-text {
  color: var(--text-five-color);
}
.footer-list__item:not(:last-child) {
  margin-bottom: 8px;
  @include desk {
    margin-bottom: 9px;
  }
}
.footer-list__link {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-five-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--text-three-color);
  }
}
.footer-list__contact-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #d7e4f0;
  }
}

.footer-list {
  font-style: normal;
}
