.footer {
  background: var(--text-four-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  text-align: center;
  @include tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }
  @include desk {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
  }
}
.footer__developer-wrap {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);

  text-align: center;
}
