.footer-socials {
  margin-right: 93px;
}
.footer__after-title {
  color: var(--text-five-color);
  margin-bottom: 20px;
}
.socials__list {
  display: flex;
}
.socials__item + .socials__item {
  margin-left: 10px;
}
.footer-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--text-five-color);
}
.socials__icon {
  fill: currentColor;
}
