.galery {
  margin-top: -30px;
  @include tab {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  @include desk {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}
.galery__item {
  background: var(--text-five-color);
  margin-top: 30px;
  background-color: var(--text-five-color);
  @include tab {
    width: calc((100% - 90px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
  @include desk {
    width: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.galery__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:hover .galery__img-text,
  &:focus .galery__img-text {
    transform: translateY(0);
  }
}
.galery__img-overley {
  position: relative;
  overflow: hidden;
}
.galery__img-text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background: rgba(33, 150, 243, 0.9);
  color: var(--text-five-color);
  padding: 77px 24px;
  @include tab {
    padding: 49px 24px;
  }
  height: 100%;
  width: 100%;
  transform: translateY(101%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.galery__content {
  padding: 20px 24px 20px 24px;
  border: 1px solid var(--text-seven-color);
  border-top: none;
  flex-grow: 1;
}
.galery__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--text-one-color);
}
.galery__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--text-two-color);
}
