.header {
  border-bottom: 1px solid var(--text-seven-color);
  background: var(--text-five-color);
}
.logo {
  font-family: 'Raleway', 'sans-serif';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-three-color);
}
.header__logo {
  margin-right: 93px;
}
.logo__dark {
  color: var(--text-six-color);
}

.site-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-one-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--text-three-color);
  }
}
.site-list__item:not(:last-child) {
  margin-right: 50px;
}

.site-list {
  display: flex;
}
.header__container {
  padding-top: 24px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
}
.site-list__link__current {
  color: var(--text-three-color);
  position: relative;
  &::after {
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    background-color: var(--text-three-color);
    left: 0;
    bottom: -34px;
  }
}
.contact__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-two-color);
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--text-three-color);
  }
}

.contact {
  margin-left: auto;
  display: flex;
}
.contact__item:not(:last-child) {
  margin-right: 50px;
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
  &:focus,
  &:hover {
    color: var(--text-three-color);
  }
}
