.hero {
  text-align: center;
  background: var(--text-four-color);
  padding-top: 118px;
  padding-bottom: 118px;
  @include tab {
    padding-top: 118px;
    padding-bottom: 118px;
  }
  @include desk {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  max-width: 1600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/Hero-bg-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../img/Hero-bg-mob-2x.jpg);
  }
  @include tab {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../img/Hero-bg-tab-1x.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../img/Hero-bg-tab-2x.jpg);
    }
  }
  @include desk {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../img/Hero-bg-desk-1x.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../img/Hero-bg-desk-2x.jpg);
    }
  }
}
// .hero-title {
//   width: 696px;
//   margin: 0 auto;
//   font-weight: 900;
//   font-size: 44px;
//   line-height: 1.36;
//   text-align: center;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;
//   color: var(--text-five-color);
//   margin-bottom: 30px;
// }
.hero__title {
  margin: 0 auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  max-width: 360px;
  @include desk {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-five-color);
  margin-bottom: 30px;
}

.hero__btn {
  display: block;
  min-width: 200px;
  margin-top: 30px;
}
