.portfolio {
  margin-top: 60px;

  @include desktop() {
    margin-top: 80px;
  }

  @media screen and (max-height: 479px) {
    margin-top: 0;
  }
}

.portfolio__filter {
  @include centrFlex(flex, center, null);
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.is-active {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__card {
  background-color: #ffffff;
}

.card-hidden {
  @extend .visually-hidden;
  visibility: hidden;
}

@media screen and (max-width: 767px) {
  .filter__item {
    margin-top: 15px;
  }

  .portfolio__filter {
    margin-top: -15px;
  }

  .portfolio__card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@include tablet() {
  .portfolio__filter {
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .portfolio__card-set {
    display: flex;
    flex-wrap: wrap;
    margin: calc(-1 * var(--card-set-gap) / 2);
  }

  .portfolio__card {
    margin: calc(var(--card-set-gap) / 2);

    background-color: #ffffff;
  }
}

@include desktop() {
  .portfolio__filter {
    margin-bottom: 50px;
  }
}
