.team-section {
  background: var(--team-background-color);
}
.team-list {
  display: flex;
  justify-content: center;
}
.team-section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-one-color);
  margin-bottom: 50px;
}
.team-list__item:not(:last-child) {
  margin-right: 30px;
}
.team-list__item {
  background-color: var(--text-five-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list__after-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-one-color);
  margin-bottom: 10px;
}
.team-list__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-two-color);
  margin-bottom: 16px;
}
.team-list__content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list__social-list {
  list-style: none;
  display: flex;
  justify-content: center;
}
.team-list__item + .team-list__item {
  margin-left: 10px;
}

.team-link {
  background-color: var(--text-five-color);
  color: var(--text-nine-color);
}
.socials__icon {
  fill: currentColor;
}

.socials__link:hover,
.socials__link:focus {
  background-color: var(--text-three-color);
  color: var(--text-five-color);
}
