.page-header {
  width: 100%;
  border-bottom: 1px solid #ececec;

  background-color: var(--primary-bg-color);
}

.page-header__container {
  @include centrFlex(flex, center, space-between);
}

.page-header__logo {
  padding-top: 16px;
  padding-bottom: 15px;
}

@media screen and (min-height: 480px) {
  .page-header {
    position: fixed;
    top: 0;
    z-index: 1;
  }
}

@media screen and (max-width: 767px) {
  .page-header__menu {
    display: none;
  }

  .page-header__contacts {
    display: none;
  }
}

@include tablet() {
  .page-header__container {
    @include centrFlex(null, null, flex-start);
  }

  .main-nav {
    @include centrFlex(flex, center, flex-start);
  }

  .page-header__logo {
    padding-top: 26px;
    padding-bottom: 25px;
    margin-right: 88px;
  }

  .page-header__contacts {
    margin-left: auto;
  }

  .page-header__menu-toggle {
    display: none;
  }
}

@include desktop() {
  .page-header__logo {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 93px;
  }

  .page-header__contacts {
    @include centrFlex(flex, center, flex-start);
  }
}
