.check__text {
  cursor: pointer;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: var(--text-two-color);
  display: flex;
  align-items: center;
  justify-content: center;
  &::before {
    content: '';
    width: 16px;
    height: 15px;
    border: 2px solid var(--text-six-color);
    border-radius: 2px;
    margin-right: 7px;
  }
}

.check__agree:checked + .check__text::before {
  border: none;
  background-image: url(../img/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.check__agree-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--text-three-color);
}
