.gallery-card__link {
  display: flex;
  flex-direction: column;
  height: 100%;

  transition: box-shadow 250ms var(--cubic);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.gallery-card__thumb {
  position: relative;
  overflow: hidden;
}

.gallery-card__overlay {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(100%);

  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 24px;

  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transition: transform 250ms var(--cubic), opacity 500ms var(--cubic);
  overflow-y: auto;

  .gallery-card__link:hover &,
  .gallery-card__link:focus & {
    transform: translateY(0);
    opacity: 1;
  }
}

.gallery-card__overlay-text {
  color: #ffffff;
  @include font(28px, 18px);

  opacity: 0;
  transition: opacity 250ms var(--cubic) 200ms;

  .gallery-card__link:hover &,
  .gallery-card__link:focus & {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Контент */

.gallery-card__content {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.gallery-card__title {
  margin-bottom: 4px;

  color: var(--title-color);
  @include font(36px, 18px, 700, 0.06em);
}

.gallery-card__description {
  color: var(--primary-text-color);
  @include font(30px, 16px);
}

@include tablet() {
  .gallery-card {
    width: calc(100% / 2 - var(--card-set-gap));
  }
}

@include desktop() {
  .gallery-card {
    width: calc(100% / 3 - var(--card-set-gap));
  }
}
