.modal {
  padding: 40px;
  width: 528px;
  min-height: 581px;
  background-color: var(--text-five-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms;
}
.modal__close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--text-five-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
}
.modal__icon {
  fill: var(--text-six-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close {
  &:hover .modal__icon,
  &:focus .modal__icon {
    fill: var(--text-three-color);
  }
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--text-one-color);
  margin-bottom: 12px;
}
.modal__btn {
  display: block;
  min-width: 200px;
  margin-top: 30px;
}
