.section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var();
  @include desk {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section__no-padding-top {
  padding-top: 0;
}
.section__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-one-color);
  margin-bottom: 30px;
  @include tab {
    font-size: 28px;
    line-height: 1.18;
  }
  @include desk {
    font-size: 36px;
    line-height: 1.16;
  }
}
