.socials {
  display: flex;
  justify-content: center;
  list-style: none;
}
.socials__item + .socials__item {
  margin-left: 10px;
}
.socials__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--text-three-color);
    color: var(--text-five-color);
  }
}
.socials-list {
  @include centrFlex(flex, center, center);
  flex-wrap: wrap;
  margin: -5px;
}

.socials-list__item {
  margin: 5px;
}

.socials-list__link {
  @include centrFlex(flex, center, center);

  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms var(--cubic), color 250ms var(--cubic);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: #ffffff;
  }
}

.socials-list__link--theme--white {
  color: #afb1b8;
}

.socials-list__link--theme--dark {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.socials-list__icon {
  fill: currentColor;
}
