// Шрифт
@function decimal-round($number, $digits: 0, $mode: round) {
  $n: 1;
  // $number must be a number
  @if type-of($number) != number {
    @warn '#{ $number } is not a number.';
    @return $number;
  }
  // $digits must be a unitless number
  @if type-of($digits) != number {
    @warn '#{ $digits } is not a number.';
    @return $number;
  } @else if not unitless($digits) {
    @warn '#{ $digits } has a unit.';
    @return $number;
  }
  @if $digits > 0 {
    @for $i from 1 through $digits {
      $n: $n * 10;
    }
  }
  @if $mode == round {
    @return round($number * $n) / $n;
  } @else if $mode == ceil {
    @return ceil($number * $n) / $n;
  } @else if $mode == floor {
    @return floor($number * $n) / $n;
  } @else {
    @warn '#{ $mode } is undefined keyword.';
    @return $number;
  }
}

@mixin font($lh: 16px, $fs: 14px, $fw: 400, $ls: 0.03em) {
  font-size: $fs;
  font-weight: $fw;
  line-height: decimal-round($lh/$fs, 2);
  letter-spacing: $ls;
}

// Центрирование флексом
@mixin centrFlex($dflex: flex, $aligni: center, $justc: flex-start) {
  display: $dflex;
  justify-content: $justc;
  align-items: $aligni;
}

// Центрирование абсолют
@mixin centrAbsolut() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Медиа запрос
@mixin mobile() {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin tablet() {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop() {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin xpix($dpr) {
  @media (min-device-pixel-ratio: $dpr),
    (min-resolution: ($dpr * 96dpi)),
    (min-resolution: ($dpr + 0dppx)) {
    @content;
  }
}
