:root {
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --title-color: #212121;
  --primary-font-family: 'Roboto', sans-serif;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --card-set-gap: 30px;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
