@mixin font($font-w: 700, $font-s: 14px, $line-h: 1.4, $letter-s: 0.03em) {
  font-weight: $font-w;
  font-size: $font-s;
  line-height: $line-h;
  letter-spacing: $letter-s;
}

@mixin tel {
  @media screen and (min-width: 480px) {
    @content;
  }
}
@mixin tab {
  @media screen and (min-width: 800px) {
    @content;
  }
}
@mixin desk {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
