%align-flex-list {
  display: flex;
  align-items: center;
}
%align-flex-just-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
%flex-just-list {
  display: flex;
  justify-content: center;
}
