:root {
  --text-one-color: #212121;
  --text-two-color: #757575;
  --text-three-color: #2196f3;
  --text-four-color: #2f303a;
  --text-five-color: #ffffff;
  --text-six-color: #000000;
  --text-seven-color: #ececec;
  --text-eight-color: #188ce8;
  --text-nine-color: #afb1b8;
  --team-background-color: #f5f4fa;
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --title-color: #212121;
  --primary-font-family: 'Roboto', sans-serif;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --card-set-gap: 30px;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
