:root {
  --text-one-color: #212121;
  --text-two-color: #757575;
  --text-three-color: #2196f3;
  --text-four-color: #2f303a;
  --text-five-color: #ffffff;
  --text-six-color: #000000;
  --text-seven-color: #ececec;
  --text-eight-color: #188ce8;
  --text-nine-color: #afb1b8;
  --team-background-color: #f5f4fa;
}
